
body {
    margin: 0;
    padding: 0;
}
#wrap {
    background-color: #366b82;
    height: 50px;
    margin: 0;
    position: relative;
    width: 100%;
    z-index: 99;
}
.navbar {
    border-right: 1px solid #54879d;
    height: 50px;
    margin: 0;
    padding: 0;
    position: absolute;
}
.navbar li {
    background-color: #366b82;
    float: left;
    font: bold 12px/1.2em Arial,Verdana,Helvetica;
    height: auto;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 150px;
}
.navbar a {
    border-left: 1px solid #54879d;
    border-right: 1px solid #1f5065;
    color: white;
    display: block;
    padding: 18px 0;
    text-decoration: none;
}
.navbar li:hover, a:hover {
    background-color: #54879d;
}
.navbar li ul {
    display: none;
    height: auto;
    margin: 0;
    padding: 0;
}
.navbar li:hover ul {
    display: block;
}
.navbar li ul li {
    background-color: #54879d;
}
.navbar li ul li a {
    border-color: #74a3b7 #1f5065 #1f5065;
    border-style: solid;
    border-width: 1px;
}
.navbar li ul li a:hover {
    background-color: #366b82;
}
